.customBtn {
    min-width: 145px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 15px 0 15px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    // font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 1px solid #000;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    &.google-sign-in {
        background-color: #1a73e8;
        // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        border-color: #1a73e8;
        &:hover {
          background-color: #fff;
          color: #1a73e8;
        }
    }
    &.inverted {
      background-color: #fff;
      color: #000;
    }
    &.checkout {
      background-color: #41ffbf;
      border-color: #12f5a8;
      color: #000;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  