.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      background: #41ffbf;
      padding: 25px;
      border-bottom: 3px solid #12f5a8;
      span {
        float: right;
        font-size: 14px;
        line-height: 33px;
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }