.sign-in-and-sign-up {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 860px;
    width: 920px;
    background: #ffffff;
    padding: 30px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 35px -20px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
}